#navlink{
    text-decoration: none;
}
#navlink h3{
    color: black;
}
.code_logo_headers{
    width: 2.5rem;
}
#header-left-side{
    width: 45rem;
}
#header-middle{
    width: 75rem;
}
#main_textcontent{
     height: 38rem;
}
#main_textcontent1{
    height: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text_main{
    width: 30rem;
}
.text-img{
    width: 100%;
}

#hovers{
    position: relative;
}
#hovers li a:hover{
    cursor: pointer;
    border-bottom: 2px solid red;
}

.profile-pic{
    width: 15rem;
    height: 15rem;
    border-radius: 10%;
}

#expr-project{
    border: 2px solid black;
    border-radius: 1rem;
    width: 20rem;
}

.skills_main{
    max-width: 94rem;
    min-height: 20rem;
    background-color: blue;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 5rem;
}
.items-col{
     width: 15rem;
     background-color: white;
     padding: 1rem;
     border-radius: 1rem;
}

.projects_number{
    width: 30rem;
    height: 15rem;
    font-size: 8rem;
    position: relative;
    top: 2rem;
    left: 1rem;
    z-index: 1;
    color: beige;
}
.projects_number::before{
    content: '';
    width: 17rem;
    height: 17rem;
    color: rgb(113, 91, 91);
    background-color: rgb(224, 224, 224);
    position: absolute;
    left: -4rem;
    top: -2.5rem;
    z-index: -1;
    border-radius: 50%;
}
.projects_number::after{
    content: '';
    width: 15rem;
    height: 15rem;
    background-color: rgb(206, 204, 204);
    border-radius: 50%;
    position: absolute;
    left: -3rem;
    top: -1.5rem;
    z-index: -1;
}

.projects_main{
    width: 50rem;
    min-height: 15rem;
}
.projects_box{
    display: flex;
}

.projects_box_img{
    width: 20rem;
    min-height: 10rem;
}

#project2{
    width: 70rem;
    margin-right: 10rem;
}


.footer_form{
     width: 30rem;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem;
    color: white;
    background-color: blue;
    border-top-left-radius: 30% ;
    border-top-right-radius: 30%;
}

.footer ul {
     list-style: none;
     display: flex;
     gap: 1rem;
}


@media screen and (max-width:1200px) {
    .projects_box{
        display: flex;
        flex-direction: column;
    }
    .projects_box_img{
        width: 100%;
    }
}


@media screen and (max-width:995px) {
    #main_textcontent1{
        height: 35rem; 
        display:flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    }
    .text-img{
        width: 35rem;
    }
    .projects_main{
        width: 100%;
        margin: 2rem 0;
    }
    #project2{
        width: 100%;
    }
    
}

@media screen and (max-width:575px) {
     .text-img{
        width: 100%;
        height: 32vh;
     }
     .text_main{
        width: 100%;
        height: 3vh;
     }
     #expr-project{
        width: 100%;
     }
     .projects_number{
        width: 100%;
        height: 8rem;
        font-size: 3.5rem;
     }
     
     .projects_number::before{
        content: '';
        width: 10rem;
        height: 10rem;
        color: rgb(113, 91, 91);
        background-color: rgb(224, 224, 224);
        position: absolute;
        left: -3rem;
        top: -2.5rem;
        z-index: -1;
        border-radius: 50%;
    }
    .projects_number::after{
        content: '';
        width: 8rem;
        height: 8rem;
        background-color: rgb(206, 204, 204);
        border-radius: 50%;
        position: absolute;
        left: -2rem;
        top: -1.5rem;
        z-index: -1;
    }
   
    .footer_form{
        width: 100%;
   }

}

@media screen and (max-width:335px) {
    .profile-pic{
        width: 10rem;
        height: 10rem;
    }
}